{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  {% translate "Product" %} #{{ object.pk }}
{% endblock %}

{% block body %}
  <h1>{% translate "Product" %}: <strong>{{ object.name }}</strong></h1>
<div>
  <div>{% translate "Description" %}: <em>{{ object.description }}</em></div>
  <div>{% translate "Price" %}: {{ object.price }}</div>
  <div>{% translate "Discount" %}: {{ object.discount }}</div>
  <div>{% translate "Archived" %}: {{ object.archived }}</div>
  {% if object.preview %}
    <img src="{{ object.preview.url }}" alt="{{ object.preview.name }}">
  {% endif %}
  <h3>{% translate "Images" %}</h3>
  {% for img in object.images.all %}
  <div>
    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
    <div>{{ img.description }}</div>
  </div>
  {% endfor %}

  {% blocktranslate count image_count=object.images.all|length %}
    There is only one image
    {% plural %}
    There are {{ image_count }} images
  {% endblocktranslate %}


  {% url 'shopapp:products_update' pk=object.pk as product_update %}
  {% url 'shopapp:products_archive' pk=object.pk as products_archive %}
  {% url 'shopapp:products_list' as products_list %}
</div>
{% blocktranslate %}
<div>
  <a href="{{ product_update }}">
    >Product update</a>
</div>
<div>
  <a href="{{ products_archive }}">
    >Product archive</a>
</div>
<div>
  <a href="{{ products_list }}">
    >Back to product list</a>
</div>
{% endblocktranslate %}
{% endblock %}