{% extends 'blogapp/base.html' %}

{% block title %}
  Articles list
{% endblock %}

{% block body %}
<h1>Articles:</h1>
{% if object_list %}
    <div>
      {% for article in object_list %}
        <div>
          <p>Article #{{ article.pk }}</p>
          <p>Title: {{ article.title }}</p>
          <p>Article at: {{ article.pub_date }}</p>
          <p>Article by {{ article.author.name }}</p>
          <p>Catagory: <code>{{ article.category.name }}</code></p>
          <div>
            Tag in article:
            <ul>
              {% for tag in article.tags.all %}
                <li>{{ tag.name }}</li>
              {% endfor %}

            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
  {% else %}
    <h3>No articless yet</h3>
  {% endif %}
{% endblock %}
